.schedules-wrapper
  -# value属性から日付情報をJS側で取得する為、架空の非表示inputタグを作成
  %input.cale_date{name: "cale_date", type: "hidden", value: "#{@tmp}"}
  #cale-date
    #cale1
      = @month
    #cale2
      月
    #cale3
      = @day
    #cale4
      日のスケジュール確認
  .schedule-contents
    - if @calendar.present?
      - @calendar.each do |schedule|
        - if schedule.done == true
          .schedule-content
            .schedule-content__left-done
              = render "/layouts/schedule_calendar_bar", schedule: schedule
            .schedule-content__right
              = button_to "編集",edit_task_path(schedule.id), class: "btn-done", method: :get
              .height8
              = button_to "完了済",calendardone_path(schedule.id), class: "btn-finish", id: "reload", method: :post, disabled: true
        - else
          .schedule-content
            .schedule-content__left
              = render "/layouts/schedule_calendar_bar", schedule: schedule
            .schedule-content__right
              = button_to "編集",edit_task_path(schedule.id), class: "btn-done", method: :get
              .height8
              = button_to "完了",calendardone_path(schedule.id), class: "btn-done", id: "reload", method: :post
    -  elsif @calendar.blank?
      .index-date
        スケジュールは登録されていません。